singularity.enabled = true
singularity.autoMounts = true
nextflowVersion = '>=19.04.1'

//
// set paths for generic files here
//

params.star_index = ["hg19": "/lab/work/porchard/reference/STAR/2.7.9a/hg19", "rn6": "/lab/work/porchard/reference/STAR/2.7.9a/rn6", "rn7": "/lab/work/porchard/reference/STAR/2.7.9a/rn7",]
params.gtf = ["hg19": "/lab/work/porchard/reference/gtf/hg19/gencode.v19.annotation.gtf", "rn6": "/lab/work/porchard/reference/gtf/rn6/rn6.ensembl.ucsc-chrom-names.gtf", "rn7": "/lab/work/porchard/reference/gtf/rn7/rn7.ensembl.ucsc-chrom-names.gtf"]
