singularity.autoMounts = true
nextflowVersion = '>=19.04.1'

//
// set paths for generic files here
//
params.star_index = ["hg19": "/lab/work/porchard/sn-muscle-project/data/star/hg19", "rn6": "/lab/work/porchard/hcr-lcr-f2/data/STAR/rn6"]
params.chrom_sizes = ["hg19": "/lab/data/reference/human/hg19/hg19.chrom_sizes", "rn6": "/lab/work/porchard/data/chrom_sizes/rn6.chrom_sizes"]
